.live-support .tabs-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 16px 16px 16px 16px;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.05);
  padding: 12px ;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.live-support .tabs-container .tab-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6c7a89;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s;
}

.live-support .tabs-container .tab-item.active {
  color: #1e90ff;
}

.live-support .tabs-container .tab-item:hover svg {
  color: #1e90ff;
  transition: color 0.2s;
}
.live-support .tabs-container .tab-item svg {
  font-size: 1.5rem; 
}